<div id="page">
      <ul id="today">
        <li><img src="http://icons-ak.wxug.com/i/c/k/rain.gif" /></li>
        <li>小阵雨</li>
        <li>深圳市</li>
        <li>23.9 C (shidu:89%, zuidi: 22 C)</li>
        <li>东北 5.5km/h</li>
        <li>presure:1009</li>
        <li>visu: 10.6km</li>
      </ul>
      <ul id="forecasts">
        <li>
          <ul>
          	<li><img src='http://icons-ak.wxug.com/i/c/k/chancetstorms.gif'></img></li>
            <li>星期六</li>
            <li>可能有雷暴. 最高: 28C. 风速: 10-20 公里/小时. 风向: 东南. 可能有雨 40%.</li>
        </ul></li><li><ul>
          	<li><img src='http://icons-ak.wxug.com/i/c/k/chancetstorms.gif'></img></li>
            <li>星期六</li>
            <li>可能有雷暴. 最高: 28C. 风速: 10-20 公里/小时. 风向: 东南. 可能有雨 40%.</li>
          </ul>
        </li>
        <li>
          <ul>
          	<li><img src='http://icons-ak.wxug.com/i/c/k/chancetstorms.gif'></img></li>
            <li>星期六</li>
            <li>可能有雷暴. 最高: 28C. 风速: 10-20 公里/小时. 风向: 东南. 可能有雨 40%.</li>
        </ul></li><li><ul>
          	<li><img src='http://icons-ak.wxug.com/i/c/k/chancetstorms.gif'></img></li>
            <li>星期六</li>
            <li>可能有雷暴. 最高: 28C. 风速: 10-20 公里/小时. 风向: 东南. 可能有雨 40%.</li>
          </ul>
        </li>
        <li>
          <ul>
          	<li><img src='http://icons-ak.wxug.com/i/c/k/chancetstorms.gif'></img></li>
            <li>星期六</li>
            <li>可能有雷暴. 最高: 28C. 风速: 10-20 公里/小时. 风向: 东南. 可能有雨 40%.</li>
        </ul></li><li><ul>
          	<li><img src='http://icons-ak.wxug.com/i/c/k/chancetstorms.gif'></img></li>
            <li>星期六</li>
            <li>可能有雷暴. 最高: 28C. 风速: 10-20 公里/小时. 风向: 东南. 可能有雨 40%.</li>
          </ul>
        </li>

        <div class='clear'></div>
      </ul>
    </div>